@media (min-width: 768px) and (max-width: 1024px) {
  .article {
    background: #946DB0;
  }
  .article .article-wrap {
    padding: 0 40px;
  }
  .article .article-wrap .video-describe h2 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 36px 0 22px 0;
  }
  .article .article-wrap .video-describe .kids-player {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #000;
  }
  .article .article-wrap .article-content h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 36px 0 22px 0;
  }
  .article .article-wrap .article-content p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
    text-indent: 2em;
  }
  .article .article-wrap .article-content p img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  .article .article-wrap .share {
    padding-bottom: 40px;
    text-align: center;
  }
  .article .article-wrap .share i {
    display: inline-block;
    width: 87px;
    height: 88px;
    background: url("../../images/share.png") no-repeat center;
  }
  .article .article-wrap .share p {
    margin-top: 18px;
    font-size: 22px;
    font-weight: bold;
  }
  .article .article-wrap .share:active i {
    background: url("../../images/share-bg.png") no-repeat center;
  }
  .about-article {
    background: #6F349C;
  }
  .about-article .about-container {
    padding: 0 40px;
  }
  .about-article .about-container h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    padding: 36px 0 22px 0;
  }
  .about-article .about-container .article-menu .items {
    width: 31%;
    float: left;
    margin: 0 0 45px 3.5%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .about-article .about-container .article-menu .items a {
    display: block;
    position: relative;
  }
  .about-article .about-container .article-menu .items a p.image img {
    width: 100%;
    vertical-align: bottom;
  }
  .about-article .about-container .article-menu .items a p.text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 7% 0 7% 18%;
    background: rgba(0, 0, 0, 0.8);
  }
  .about-article .about-container .article-menu .items a p.text img {
    position: absolute;
    width: 15%;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
  }
  .about-article .about-container .article-menu .items a p.text span {
    display: block;
    text-align: center;
    font-size: 24px;
  }
  .about-article .about-container .article-menu .items:first-child {
    margin-left: 0;
  }
  .kids-nav {
    background: #45B6EB;
  }
  .kids-nav .swiper-container .page-Arrows .swiper-button-next {
    background: url("../../images/nav-r-blue.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .kids-nav .swiper-container .page-Arrows .swiper-button-prev {
    background: url("../../images/nav-l-blue.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media (min-width: 1025px) {
  .article {
    background: #946DB0;
  }
  .article .article-wrap {
    padding: 0 40px;
  }
  .article .article-wrap .video-describe h2 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 36px 0 22px 0;
  }
  .article .article-wrap .video-describe .kids-player {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #000;
  }
  .article .article-wrap .article-content h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 36px 0 22px 0;
  }
  .article .article-wrap .article-content p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
    text-indent: 2em;
  }
  .article .article-wrap .article-content p img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  .article .article-wrap .share {
    padding-bottom: 40px;
    text-align: center;
  }
  .article .article-wrap .share i {
    display: inline-block;
    width: 87px;
    height: 88px;
    background: url("../../images/share.png") no-repeat center;
  }
  .article .article-wrap .share p {
    margin-top: 18px;
    font-size: 22px;
    font-weight: bold;
  }
  .article .article-wrap .share:active i {
    background: url("../../images/share-bg.png") no-repeat center;
  }
  .about-article {
    background: #6F349C;
  }
  .about-article .about-container {
    padding: 0 40px;
  }
  .about-article .about-container h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    padding: 36px 0 22px 0;
  }
  .about-article .about-container .article-menu .items {
    width: 31%;
    float: left;
    margin: 0 0 45px 3.5%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .about-article .about-container .article-menu .items a {
    display: block;
    position: relative;
  }
  .about-article .about-container .article-menu .items a p.image img {
    width: 100%;
    vertical-align: bottom;
  }
  .about-article .about-container .article-menu .items a p.text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 7% 0 7% 18%;
    background: rgba(0, 0, 0, 0.8);
  }
  .about-article .about-container .article-menu .items a p.text img {
    position: absolute;
    width: 15%;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
  }
  .about-article .about-container .article-menu .items a p.text span {
    display: block;
    text-align: center;
    font-size: 24px;
  }
  .about-article .about-container .article-menu .items:first-child {
    margin-left: 0;
  }
  .kids-nav {
    background: #45B6EB;
  }
  .kids-nav .swiper-container .page-Arrows .swiper-button-next {
    background: url("../../images/nav-r-blue.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .kids-nav .swiper-container .page-Arrows .swiper-button-prev {
    background: url("../../images/nav-l-blue.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
