.dg-container {
	width: 100%;
	padding: 44px 0 64px 0;
	position: relative;
}

.dg-wrapper {
	width: 62%;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

.dg-wrapper a {
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.dg-wrapper a.dg-transition {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img {
	display: block;
	width: 100%;
}

.dg-wrapper a div {
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}

.dg-wrapper a.dg-center div {
	display: block;
}

.dg-container nav {
	/*width: 58px;*/
	/*position: absolute;*/
	/*z-index: 1000;*/
	/*bottom: 40px;*/
	/*left: 50%;*/
	/*margin-left: -29px;*/
}

.dg-container nav span {
	z-index: 9999;
	position: absolute;
	top: 50%;
	cursor: pointer;
	width: 66px;
	height: 66px;
	transform: translateY(-50%);
}
.dg-container nav span:active {
	outline: none;
}
.dg-container nav .dg-prev {
	left: 3%;
	background: transparent url(../../images/banner/prev.png) no-repeat center;
}

.dg-container nav .dg-prev:active {
	background: transparent url(../../images/banner/prev-g.png);
}

.dg-container nav .dg-next {
	right: 3%;
	background: transparent url(../../images/banner/next.png) no-repeat center;
}

.dg-container nav .dg-next:active {
	background: transparent url(../../images/banner/next-g.png);
}

.dg-container .page-circle {
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translate(-50%);
}
.dg-container .page-circle li {
	float: left;
	width: 14px;
	height: 14px;
	margin: 0 5px;
	cursor: pointer;
	background: #811965;
	border-radius: 50%;
}
.dg-container .page-circle .active {
	background: #fff;
}