body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "微软雅黑", Microsoft YaHei, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  text-align: center;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
textarea {
  overflow: auto;
  resize: none;
}
input {
  height: 40px;
  padding: 10px 20px;
}
input,
textarea {
  outline: none;
}
.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.kids-btn {
  width: 144px;
  height: 60px;
  line-height: 60px;
  font-size: 27px;
  background: #F5BF07;
  border-radius: 10px;
  box-shadow: 0 5px 5px #BF5313;
}
.btn-lg {
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 6px;
}
.btn-md {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 4px;
}
@media (min-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .header {
    background: #439539;
  }
  .header .header-kids {
    height: 132px;
  }
  .header .header-kids .navBar {
    height: 90px;
  }
  .header .header-kids .navBar .logo {
    float: left;
    margin: 26px 40px 0 0;
  }
  .header .header-kids .navBar .logo a {
    display: block;
  }
  .header .header-kids .navBar .logo a img {
    height: 80px;
  }
  .header .header-kids .navBar .nav-link {
    float: left;
  }
  .header .header-kids .navBar .nav-link li {
    float: left;
  }
  .header .header-kids .navBar .nav-link li a {
    display: block;
    height: 132px;
  }
  .header .header-kids .navBar .nav-link li a:hover {
    background: #fff;
    color: #007130;
  }
  .header .header-kids .navBar .nav-link li a .nav-icon {
    display: table-cell;
    width: 132px;
    height: 74px;
    text-align: center;
    vertical-align: bottom;
  }
  .header .header-kids .navBar .nav-link li a .nav-icon img {
    height: auto;
  }
  .header .header-kids .navBar .nav-link li a span {
    display: block;
    margin-top: 8px;
    font-size: 24px;
    text-align: center;
  }
  .header .header-kids .login {
    margin-top: 36px;
  }
  .header .header-kids .login a {
    line-height: 57px;
    font-size: 36px;
    background: #F5BF07;
    box-shadow: 0 5px 5px #D59C12;
  }
  .header .header-kids .login a:hover {
    background: #e1b41b;
  }
  .kids-nav {
    background: #007130;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .header {
    background: #439539;
  }
  .header .header-kids {
    height: 132px;
  }
  .header .header-kids .navBar {
    height: 90px;
  }
  .header .header-kids .navBar .logo {
    float: left;
    margin: 26px 40px 0 0;
  }
  .header .header-kids .navBar .logo a {
    display: block;
  }
  .header .header-kids .navBar .logo a img {
    height: 80px;
  }
  .header .header-kids .navBar .nav-link {
    float: left;
  }
  .header .header-kids .navBar .nav-link li {
    float: left;
  }
  .header .header-kids .navBar .nav-link li a {
    display: block;
    height: 132px;
  }
  .header .header-kids .navBar .nav-link li a:hover {
    background: #fff;
    color: #007130;
  }
  .header .header-kids .navBar .nav-link li a .nav-icon {
    display: table-cell;
    width: 132px;
    height: 74px;
    text-align: center;
    vertical-align: bottom;
  }
  .header .header-kids .navBar .nav-link li a .nav-icon img {
    height: auto;
  }
  .header .header-kids .navBar .nav-link li a span {
    display: block;
    margin-top: 8px;
    font-size: 24px;
    text-align: center;
  }
  .header .header-kids .login {
    margin-top: 36px;
  }
  .header .header-kids .login a {
    line-height: 57px;
    font-size: 36px;
    background: #F5BF07;
    box-shadow: 0 5px 5px #D59C12;
  }
  .header .header-kids .login a:hover {
    background: #e1b41b;
  }
  .kids-nav {
    background: #007130;
  }
}
