.watch {
  padding: 44px 0 48px 0;
  background: #c4d023;
}
.watch .video-wrap {
  padding: 0 40px;
}
.watch .video-wrap .kids-player {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: #000;
}
.watch .scope-slider {
  margin-top: 46px;
  position: relative;
}
.watch .scope-slider .swiper-container .swiper-wrapper {
  position: relative;
  padding-bottom: 5px;
}
.watch .scope-slider .swiper-container .swiper-wrapper .swiper-slide {
  padding: 0 20px;
}
.watch .scope-slider .swiper-container .swiper-wrapper .swiper-slide a {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.watch .scope-slider .swiper-container .swiper-wrapper .swiper-slide a p.image img {
  width: 100%;
  vertical-align: bottom;
}
.watch .scope-slider .swiper-container .swiper-wrapper .swiper-slide a p.text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 7% 0;
  background: rgba(0, 0, 0, 0.8);
}
.watch .scope-slider .swiper-container .swiper-wrapper .swiper-slide a p.text img {
  position: absolute;
  width: 15%;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.watch .scope-slider .swiper-container .swiper-wrapper .swiper-slide a p.text span {
  display: block;
  font-size: 24px;
}
.watch .scope-slider .swiper-container .swiper-button-next {
  display: none;
}
.watch .scope-slider .swiper-container .swiper-button-prev {
  display: none;
}
.watch .scope-slider label {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 50%;
  z-index: 999;
  cursor: pointer;
  transform: translateY(-50%);
}
.watch .scope-slider .prev-btn {
  left: -16px;
  background: url("../../images/banner/prev.png") no-repeat center;
}
.watch .scope-slider .prev-btn:active {
  background: url("../../images/banner/prev-g.png");
}
.watch .scope-slider .next-btn {
  right: -16px;
  background: url("../../images/banner/next.png") no-repeat center;
}
.watch .scope-slider .next-btn:active {
  background: url("../../images/banner/next-g.png");
}
