body,ol,ul,h1,h2,h3,h4,h5,h6,div,p,span,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "微软雅黑",Microsoft YaHei,Arial,sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-text-size-adjust:100%
}
h1,h2,h3,h4,h5,h6{font-weight: normal}
a{
  color:#fff;
  text-decoration:none;
}
a:hover{
  color:#fff;
  text-decoration:none;
}
ul,ol{ list-style: none; text-align: center;}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

.fr{float: right;}
.fl{float: left;}
.clearfix{
    &:after{
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}


textarea{overflow:auto;resize:none;}
input{height: 40px;padding: 10px 20px;}
input,textarea{outline: none;}

.btn{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.kids-btn {
    width: 144px;
    height: 60px;
    line-height: 60px;
    font-size: 27px;
    background: #F36F21;
    border-bottom: 5px solid #BF5313;
    border-radius: 10px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    //&:hover{
    //    background: #d1a616;
    //}
    &:active{
        border-bottom-width: 0;
    }
}
.btn-lg{
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 6px;
}
.btn-md{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}
.btn-sm{
  padding: 5px 10px;
  border-radius: 4px;
}

@media (min-width: 1025px){
    .container{
        width: 1200px;
        margin: 0 auto;
    }
    a,img,button,span,label,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
    //head
    .header{
        background: #439539;
        .header-kids{
            width: 90%;
            margin: 0 auto;
            height: 132px;
            .navBar{
                height: 90px;
                .logo{
                    float: left;
                    margin: 26px 40px 0 40px;
                    a{
                        display: block;
                        img{
                            height: 80px;
                        }
                    }
                }
                .nav-link{
                    float: left;
                    li{
                        float: left;
                        a{
                            display: block;
                            height: 132px;
                            &:hover{
                                background: #fff;
                                color: #007130;
                            }
                            .nav-icon{
                                display: table-cell;
                                width: 132px;
                                height: 74px;
                                text-align: center;
                                vertical-align: bottom;
                                img{
                                    height: auto;
                                }
                            }
                            span{
                                display: block;
                                margin-top: 8px;
                                font-size:24px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .login{
                margin: 36px 23px 0 0;
                a{
                    line-height: 57px;
                    font-size: 36px;
                    background: #F5BF07;
                    box-shadow: 0 5px 5px #D59C12;
                    &:hover{
                        background: #e1b41b;
                    }
                }
            }
        }
    }
    //nav
    .kids-nav{
        background: #007130;
        .swiper-container {
            width: 100%;
            padding: 20px 56px;
            box-sizing: border-box;
            .swiper-wrapper{
                .swiper-slide{
                    a{
                        display: block;
                    }
                }
            }
            .page-Arrows{
                span{
                    width: 68px;
                    top: 0;
                    height: 100%;
                    transform: none;
                    text-align: center;
                    -webkit-background-size: cover;
                    background-size: cover;
                    i{
                        position: absolute;
                        width: 21px;
                        height: 38px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .swiper-button-next{
                    right: -1px;
                    background: url("../../images/nav-r-bg.png") no-repeat center;
                    .i-arrows{
                        right: 20px;
                        background: url("../../images/right-angle.png") no-repeat center;
                        &:active{
                            background: url("../../images/right-angle-g.png");
                        }
                    }
                }
                .swiper-button-prev{
                    left: -1px;
                    background: url("../../images/nav-l-bg.png") no-repeat center;
                    .i-arrows{
                        left: 18px;
                        background: url("../../images/left-angle.png") no-repeat center;
                        &:active{
                            background: url("../../images/left-angle-g.png");
                        }
                    }
                }
            }
        }
    }
}



@media (min-width: 768px) and (max-width: 1024px){
    a,img,button,span,label,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
    //head
    .header{
        background: #439539;
        .header-kids{
            height: 132px;
            .navBar{
                height: 90px;
                .logo{
                    float: left;
                    margin: 26px 40px 0 40px;
                    a{
                        display: block;
                        img{
                            height: 80px;
                        }
                    }
                }
                .nav-link{
                    float: left;
                    li{
                        float: left;
                        a{
                            display: block;
                            height: 132px;
                            &:hover{
                                background: #fff;
                                color: #007130;
                            }
                            .nav-icon{
                                display: table-cell;
                                width: 132px;
                                height: 74px;
                                text-align: center;
                                vertical-align: bottom;
                                img{
                                    height: auto;
                                }
                            }
                            span{
                                display: block;
                                margin-top: 8px;
                                font-size:24px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .login{
                margin: 36px 23px 0 0;
                a{
                    line-height: 57px;
                    font-size: 36px;
                    background: #F5BF07;
                    box-shadow: 0 5px 5px #D59C12;
                    &:hover{
                        background: #e1b41b;
                    }
                }
            }
        }
    }
    //nav
    .kids-nav{
        background: #007130;
        .swiper-container {
            width: 100%;
            padding: 20px 56px;
            box-sizing: border-box;
            .swiper-wrapper{
                .swiper-slide{
                    a{
                        display: block;
                    }
                }
            }
            .page-Arrows{
                span{
                    width: 68px;
                    top: 0;
                    height: 100%;
                    transform: none;
                    text-align: center;
                    -webkit-background-size: cover;
                    background-size: cover;
                    i{
                        position: absolute;
                        width: 21px;
                        height: 38px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                .swiper-button-next{
                    right: -1px;
                    background: url("../../images/nav-r-bg.png") no-repeat center;
                    .i-arrows{
                        right: 20px;
                        background: url("../../images/right-angle.png") no-repeat center;
                        &:active{
                            background: url("../../images/right-angle-g.png");
                        }
                    }
                }
                .swiper-button-prev{
                    left: -1px;
                    background: url("../../images/nav-l-bg.png") no-repeat center;
                    .i-arrows{
                        left: 18px;
                        background: url("../../images/left-angle.png") no-repeat center;
                        &:active{
                            background: url("../../images/left-angle-g.png");
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){

}

@media (min-width: 768px) and (max-width: 850px) {
    .header {
         .header-kids{
             .navBar{
                 .nav-link{
                     li{
                         a{
                             .nav-icon{
                                 width: 104px;
                             }
                         }
                     }
                 }
             }
         }
    }
}