@import "public";

@media (min-width: 768px) and (max-width: 1024px) {
    .banner {
        .banner
    }
    .gallery{
        background: #946DB0;
        .g-title{
            padding: 40px 0;
            text-align: center;
            img{
                height: 50px;
            }
        }
        .gallery-wrap{
            padding: 0 40px;
            .g-poster{
                .items{
                    .g-items(0)
                }
                .items-poster{
                    width: 65.5%;
                    margin-right: 3.5%;
                    a{
                        p.text{
                            padding: 5.5% 0 6.5% 15%;
                            img{
                                width: 12%;
                                left: 5%;
                            }
                            span{
                                font-size: 50px;
                            }
                        }
                    }
                }
            }
            .g-items{
                .items{
                    .g-items()
                }
                .items:nth-of-type(3n+1){
                    margin-left: 0;
                }
            }
        }
    }
}
@media (min-width: 1025px) {
    .banner {
        .banner()
    }
    .gallery{
        background: #946DB0;
        .g-title{
            padding: 40px 0;
            text-align: center;
            img{
                height: 50px;
            }
        }
        .gallery-wrap{
            padding: 0 40px;
            .g-poster{
                .items{
                    .g-items(0)
                }
                .items-poster{
                    width: 65.5%;
                    margin-right: 3.5%;
                    a{
                        p.text{
                            padding: 5.5% 0 6.5% 15%;
                            img{
                                width: 12%;
                                left: 5%;
                            }
                            span{
                                font-size: 50px;
                            }
                        }
                    }
                }
            }
            .g-items{
                .items{
                    .g-items()
                }
                .items:nth-of-type(3n+1){
                    margin-left: 0;
                }
            }
        }
    }
    //tvshow page
    .last-video{
        background: #35C2F7;
    }
    .tvShow-list{
        background: #2878DA;
        .gallery-wrap{
            .g-items{
                padding-top: 3.5%;
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 850px) {
    .gallery .gallery-wrap .g-poster .items-poster a p.text {
        padding: 3.5% 0 4.5% 11%;
    }
    .gallery .gallery-wrap .g-poster .items-poster a p.text img {
        width: 10%;
        left: 5%;
    }
    .gallery .gallery-wrap .g-poster .items-poster a p.text span {
        font-size: 28px;
    }
    .banner{
        padding: 20px 40px;
        .swiper-slide{
            width: @wdth5 !important;
            .img_part{
                img{
                    width: @wdth5 !important;
                }
            }
        }
    }
}

