@import "public";

@media (min-width: 768px) and (max-width: 1024px) {
    .container{
        .containerIpad();
    }
    .el-games{
        .nav-area{
            .navMenu{
                overflow: hidden;
                background: #AE3F90;
                a{
                    float: left;
                    width: 100px;
                    text-align: left;
                    font-size: 24px;
                    padding: 15px 0 17px 0;
                }
                .current{
                    color: #F36F21;
                }
            }
        }
        .games-area{
            padding-top: 30px;
            background: #FCC12F;
            .items{
                .g-items();
                //margin: 3.5% 0 0 3.5%;
            }
            .items:nth-of-type(3n+1){
                margin-left: 0;
            }
        }
    }
}